/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------------------- 2. Typography ----------------------------------- */
:root {
    --headerfont: "Merriweather";
    --normalfont: "Roboto";
}

body {
    font-family: var(--normalfont), sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    font-family: var(--normalfont), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headerfont), sans-serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */
:root {
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --black: #0C0C0C;
    --lightpurple: #F2F0FF;
    --lightgrey: #F3F6F9;
    --grey: #7A7A7A;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 3rem;
}

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    background: linear-gradient(141deg, rgba(72, 69, 228, 1) 22%, rgba(87, 34, 205, 1) 82%);
    position: relative;
    z-index: -25;
}

.together-section {
    background: linear-gradient(141deg, rgba(72, 69, 228, 1) 22%, rgba(87, 34, 205, 1) 82%);
}

.header-container {
    display: flex;
    flex-direction: column;
}

.header-nav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 3rem;
    padding-top: 0.5rem;
}

.header-nav a, .header-nav a:visited {
    color: white;
    text-decoration: none;
    font-weight: 200;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.5rem 1rem 0 1rem;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.header-content h1 {
    font-size: 46px;
    padding-bottom: 1rem;
    color: white;
    font-weight: 450;
}

.header-content p {
    font-size: 26px;
    padding-bottom: 2rem;
    color: white;
    font-weight: 200;
}

.header-content a, .header-content a:hover {
    text-decoration: none;
    padding: 1.5em 2.8em;
    border-radius: 30px;
    font-size: 14px;
    background-color: var(--pink);
    color: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .6);
    text-transform: uppercase;
    margin-bottom: 6rem;
}

.img-container {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/noise-texture.png');
    background-repeat: repeat;
    z-index: -10;
}

header::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 100vw solid white;
    border-right: 0 solid transparent;
    border-top: 200px solid transparent;
    z-index: 20;
}

/* --------------- 4.2 Introduction ------------------- */

.info-section {
    padding-top: 6rem;
    text-align: center;
    max-width: 900px;
    font-size: 20px;
    font-weight: 100;
    color: var(--purple);
    position: relative;
}

.info-section::before {
    content: "hello"; /* woord dat je laat verschijnen */
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -62%);
    font-size: 30rem;
    font-weight: 700;
    color: var(--lightpurple);
    z-index: -10;

}

.info-section p {
    padding: 6rem 0;
    font-weight: 400;
    color: var(--black);
}

.info-section a, .info-section a:visited {
    text-decoration: none;
    color: var(--purple);
}

.project-sections {
    background-color: var(--lightgrey);
    padding: 5rem 0;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding-bottom: 4rem;
}

.project-content {
    max-width: 300px;
    flex-shrink: 0;
}

.project-content h3 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
}

.project-content p {
    padding: 3rem 0;
    font-weight: 500;
}

.project-content a, .project-content a:visited {
    text-decoration: none;
    color: var(--purple);
    font-size: 15px;
    font-weight: 600;
}

.project-img {
    max-width: 600px;

}

.project-img img {
    max-width: 100%;
    flex-shrink: 1;
    min-width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.projects:nth-of-type(even) {
    display: flex;
    flex-direction: row-reverse;
}

.services-articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.3rem;
    margin: 12rem auto;
}

article {
    padding: 2em 2em 3em 2em;
    border: 1px solid var(--purple);
    max-width: 350px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);;
}

article img {
    width: 72px;
    margin-bottom: 0.5em;
}

article h4 {
    font-size: 1.3em;
    margin-bottom: 1em;
    color: var(--purple);
}

article p {
    font-size: 15px;
    font-weight: 300;
}

.together-section {

}

.together-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10rem 0 5rem 0;
}

.together-content h5 {
    font-size: 3.2rem;
    font-weight: 600;
    padding-bottom: 1.2rem;
}

.together-content p {
    font-weight: 300;
    padding-bottom: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label {
    display: flex;
    justify-content: flex-start;
    width: 100%
}

.contact-form input {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 1.2rem;
    margin-bottom: 1.6rem;
    border-radius: 4px;
    border: none;
}

.textblock {
    height: 200px;
    width: 800px;
    padding: 1.2rem;
    margin-bottom: 1.6rem;
    border: none;
    border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    opacity: 1;
    font-family: var(--normalfont), sans-serif;
}

.contact-form button {
    text-decoration: none;
    padding: 1.5em 5.6em;
    border-radius: 30px;
    font-size: 14px;
    background-color: var(--pink);
    color: white;
    border: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .6);
    text-transform: uppercase;
}

footer {
    background-color: var(--black);
    padding: 1.2rem;
}

.footer-content {
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 0.9rem;
}



/* ------------------------------- 5. Media Queries -------------------------------- */



@media only screen and (max-width: 576px) {
    .header-nav {
        display: flex;
        list-style: none;
        justify-content: space-between;
        gap: 3rem;
        padding-top: 2rem;
    }

    .header-nav a, .header-nav a:visited {
        font-size: 16px;
        font-weight: 600;
    }

    .header-content h1 {
        font-size: 28px;
        font-weight: 550;
    }

    .header-content p {
        font-size: 22px;
        padding-bottom: 2rem;
        font-weight: 300;
    }

    .info-section {
        font-size: 13px;
    }

    .info-section p {
        padding: 5rem 0;
        font-weight: 500;
        font-size: 20px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 150px;
        padding-bottom: 4rem;
    }

    .projects:nth-of-type(even) {
        display: flex;
        flex-direction: column;
    }

    .together-content h5 {
        font-size: 2.4rem;
        font-weight: 600;
        padding-bottom: 1.2rem;
    }

    .together-content p {
        font-size: 1.2rem;
        padding-bottom: 2.6rem;
    }

    .contact-form input {
        width: 26rem;

    }

    .textblock {
        width: 26rem;
        margin-bottom: 2.4rem;
    }

    form label {
        width: 26rem;
    }

    .together-content {
        padding: 10rem 0 3rem 0;
    }

    .footer-content {
        font-weight: 200;
        font-size: 0.9rem;
    }
}